<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Les instruments dispo</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Votre logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">S'inscrire</a></li>
        <li><a href="#">Se connecter</a></li>
        <li><a href="#">Mon compte</a></li>
        <li><a href="#">Ajouter une annonce</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">S'inscrire</a></li>
        <li><a href="#">Se connecter</a></li>
        <li><a href="#">Mon compte</a></li>
        <li><a href="#">Ajouter une annonce</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text">10 instruments aimés des clients</h1>
      <div class="row center">
        <h5 class="header col s12 light">Découvrez les instruments aimés par nos clients</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light red">Comment louer un instrument</a>
      </div>
      <br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <!--   Icon Section -->
      <div class="row">
        
        <div class="col s12 m4">
          <div class="icon-block">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/piano.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"> Piano Yamaha Arius <a href="" > Louez à 40€/jr </a><i class="material-icons right">more_vert</i></span>
                <p><a href="#">Description du produit</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Piano Yamaha Arius <a href="" > Louez à 40€/jr </a><i class="material-icons right">close</i></span>
                <p>Grâce à sa formidable sonorité de piano « Pure CF Sampling » et son toucher lourd, Le YDP-142 reproduit parfaitement les sensations offertes par un piano acoustique. Le nouveau mode « Duo » permet de couper le clavier en deux zones, pour l’apprentissage avec un professeur.</p>
              </div>
            </div> <!-- card -->
        </div> <!-- .icon-block -->
      </div> <!-- .col s12 m4 -->
      <div class="col s12 m4">
          <div class="icon-block">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/batterie.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"> Batterie Originale Canada Tom <a href="" > Louez à 30€/jr </a><i class="material-icons right">more_vert</i></span>
                <p><a href="#">Description du produit</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Batterie Originale Canada Tom <a href="" > Louez à 30€/jr </a><i class="material-icons right">close</i></span>
                <p>Un tom est l'un des éléments d'une batterie. On en trouve généralement trois sur les configurations standard (historiquement, 12 13 et 16 pouces) mais on peut en rajouter à peu près autant que l'on souhaite. Il s'agit d'un fût de bois sur lequel est tendue une peau synthétique ou, plus rarement, animale, que l'on frappe à l'aide des baguettes. Les toms sont souvent utilisés dans les breaks pour marquer la transition entre deux rythmes ou pour appuyer des passages rythmés..</p>
              </div>
            </div> <!-- card -->
        </div> <!-- .icon-block -->
      </div> <!-- .col s12 m4 -->
      <div class="col s12 m4">
          <div class="icon-block">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/basse.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Guitare Basse USA80 Jazz<a href=""> Louez à 13€/jr </a><i class="material-icons right">more_vert</i></span>
                <p><a href="#">Description du produit</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Guitare Basse USA80 Jazz<a href="" > Louez à 13€/jr </a><i class="material-icons right">close</i></span>
                <p>La guitare basse, ou simplement basse, est un instrument de musique à cordes conçu selon le même principe que la guitare électrique, mais avec une tessiture plus grave. Comme la contrebasse dont elle est inspirée, la guitare basse est généralement utilisée pour jouer la ligne de basse au sein de la section rythmique d'un ensemble musical, mais elle est également utilisée comme instrument soliste, par exemple dans le jazz fusion.</p>
              </div>
            </div> <!-- card -->
        </div> <!-- .icon-block -->
      </div> <!-- .col s12 m4 -->
      <div class="col s12 m4">
          <div class="icon-block">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/violon.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Violon Classique Maestro <a href=""> Louez à 10€/jr </a><i class="material-icons right">more_vert</i></span>
                <p><a href="#">Description du produit</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Violon Classique Maestro<a href="" > Louez à 10€/jr </a><i class="material-icons right">close</i></span>
                <p>Grâce à sa formidable sonorité de piano « Pure CF Sampling » et son toucher lourd, Le YDP-142 reproduit parfaitement les sensations offertes par un piano acoustique. Le nouveau mode « Duo » permet de couper le clavier en deux zones, pour l’apprentissage avec un professeur.</p>
              </div>
            </div> <!-- card -->
        </div> <!-- .icon-block -->
      </div> <!-- .col s12 m4 -->
      <div class="col s12 m4">
          <div class="icon-block">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/saxophone.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Saxophone Norwood Fisher<a href=""> Louez à 30€/jr </a><i class="material-icons right">more_vert</i></span>
                <p><a href="#">Description du produit</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Saxophone Norwood Fisher<a href="" > Louez à 30€/jr </a><i class="material-icons right">close</i></span>
                <p>Les Fishbone sont toujours aussi impressionnants, Angelo au chant et Norwood Fisher à la basse sont les leaders charismatiques de ce groupe, rappelons-le qui tourne depuis plus de 25 ans. Donc si vous êtes amateur de funk, de ska, de rock et toute autre bonne musique, ils sont à découvrir absolument si ce n’est déjà fait !.</p>
              </div>
            </div> <!-- card -->
        </div> <!-- .icon-block -->
      </div> <!-- .col s12 m4 -->
      <div class="col s12 m4">
          <div class="icon-block">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="img/flute.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Flute Picko Bernard Subert<a href="" > Louez à 18€/jr </a><i class="material-icons right">more_vert</i></span>
                <p><a href="http://stage.rotruenge.free.fr/NoIE/fr/bio.htm">Description du produit</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Flute Picko Bernard Subert <a href="" > Louez à 18€/jr </a><i class="material-icons right">close</i></span>
                <p>Qu'il soit musicien, chanteur ou plasticien, Bernard Subert construit petit à petit, depuis plus de trente ans, son propre univers, sa bulle imaginaire, son monde à lui, à l'abri des regards trop indiscrets et des coups médiatiques. Il apprends au Conservatoire (un peu) et aux Beaux-Arts (beaucoup), auprès des anciens (passionnément), et au contact de beaucoup d'amis (à la folie)</p>
              </div>
            </div> <!-- card -->
        </div> <!-- .icon-block -->
      </div> <!-- .col s12 m4 -->
    </div> <!-- .row -->
    </div> <!-- .section -->
  </div> <!-- .container -->


  <footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Concept Cluster</h5>
          <p class="grey-text text-lighten-4"> Nous avons souhaité, dans cette plate-forme “Cluster” proposer un espace simple  aux particuliers et aux professionnels pour la mise en location de biens. L’utilisateur peut créer en quelque minutes un espace de location en ligne.
          Chaque internaute, peut s’en servir sans contrainte.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Instrument</h5>
          <ul>
            <li><a class="white-text" href="#!">Piano</a></li>
            <li><a class="white-text" href="#!">Guitare</a></li>
            <li><a class="white-text" href="#!">Flûte</a></li>
            <li><a class="white-text" href="#!">Basse</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Avis utilisateurs</h5>
          <ul>
            <li><a class="white-text" href="#!">Avis de Romain </a>
            <span> Super c'est génial ce site ! </span> 
            </li>
            <li><a class="white-text" href="#!">Avis de Maeva</a></li>
            <li><a class="white-text" href="#!">Avis de Mathieu</a></li>
            <li><a class="white-text" href="#!">Avis d'Axel</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Réalisé par <a class="orange-text text-lighten-3" href="http://materializecss.com">Cluster</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
