<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Ajouter une annonce</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/global.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="../index.html" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="inscription.html">S'inscrire</a></li>
        <li><a href="login.html">Se connecter</a></li>
        <li><a href="#">Mon compte</a></li>
        <li><a href="add_annonce.html">Ajouter une annonce</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="inscription.html">S'inscrire</a></li>
        <li><a href="login.html">Se connecter</a></li>
        <li><a href="#">Mon compte</a></li>
        <li><a href="add_annonce.html">Ajouter une annonce</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
    <div class="container">
        <div class="section">
            <form class="col s12" action="" id="formCreateAnnonce">
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">label</i>
                        <input id="link" type="text" class="validate">
                        <label for="link">Nom du produit</label>
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <select>
                            <option value="" disabled selected>Choisissez le type de votre bien</option>
                            <option value="outillage">Outillage</option>
                            <option value="meuble">Meuble</option>
                            <option value="autre">Autre</option>
                        </select>
                        <label>Type</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col l6 m 12 s12">
                        <i class="material-icons prefix">shopping_cart</i>
                        <input id="link" type="text" class="validate">
                        <label for="link">Prix</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col l3 m6 s12">
                      <i class="material-icons prefix">query_builder</i>
                      <input id="date" type="date" class="datepicker">
                      <label for="date">Date de début</label>
                    </div>

                    <div class="input-field col l3 m6 s12">
                      <i class="material-icons prefix">query_builder</i>
                      <input id="date" type="date" class="datepicker">
                      <label for="date">Date de fin</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">description</i>
                        <textarea id="description" id="description" class="materialize-textarea validate" length="150"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
            </form>
            <button class="btn waves-effect waves-light" type="submit" form="formCreate" name="action">Suivant
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
    <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../materialize-js/bin/materialize.min.js"></script>
    <script src="../nouislider-js/nouislider.js"></script>
    <script src="../js/production.js"></script>
</body>

</html>