<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/global.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Votre logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="pages/inscription.html">S'inscrire</a></li>
        <li><a href="pages/login.html">Se connecter</a></li>
        <li><a href="pages/compte.html">Mon compte</a></li>
        <li><a href="pages/add_annonce.html">Ajouter une annonce</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="pages/inscription.html">S'inscrire</a></li>
        <li><a href="pages/login.html">Se connecter</a></li>
        <li><a href="pages/compte.html">Mon compte</a></li>
        <li><a href="pages/add_annonce.html">Ajouter une annonce</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text" id="titleSite" contenteditable="true">Louer votre outil en ligne</h1>
      <div class="row center">
        <h5 class="header col s12 light" id="subtitleSite" contenteditable="true">Une nouvelle façon de partager votre bien avec votre communauté</h5>
      </div>
      <div class="row center">
        <form id="form_search" class="col s12" method="post" action="pages/search.html">
          <div class="row">

            <div class="input-field col l2 m4 s12">
              <i class="material-icons prefix">search</i>
              <input id="search" type="text" class="validate">
              <label for="search">Recherche</label>
            </div>

            <div class="input-field col l2 m4 s12">
              <i class="material-icons prefix">query_builder</i>
              <input id="date" type="date" class="datepicker">
              <label for="date">Date de début</label>
            </div>

            <div class="input-field col l2 m4 s12">
              <i class="material-icons prefix">query_builder</i>
              <input id="date" type="date" class="datepicker">
              <label for="date">Date de fin</label>
            </div>

            <div class="input-field col l2 m4 s12">
              <div id="price_slider"></div>
              <span id="value-min"></span>€
              <span id="value-max"></span>€
            </div>

            <div class="input-field col l2 m4 s12">
              <select multiple>
                <option value="" disabled selected>Votre département</option>
                <option value="paris">75 - Paris</option>
                <option value="seine-et-marne">77 - Seine et Marne</option>
                <option value="yvelines">78 - Yvelines</option>
                <option value="essonne">91 - Essonne</option>
                <option value="hauts-de-seine">92 - Hauts-de-Seine</option>
                <option value="seine-saint-denis">93 - Seine-Saint-Denis</option>
                <option value="val-de-marne">94 - Val-de-Marne</option>
                <option value="val-doise">95 - Val d'Oise</option>
              </select>
              <label>Départements</label>
            </div>

            <div class="input-field col l2 m4 s12">
              <button class="btn waves-effect waves-light" type="submit" name="action">Rechercher</button>
            </div>
          </div>
        </form>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons"></i></h2>
            <h5 class="center" id="firstTitle" contenteditable="true">Nouvelle façon de partager</h5>

            <p class="light" id="firstTitleDescription" contenteditable="true">Explorez un autre univers de partage avec des particuliers qui desire louer votre bien. Cluster, c'est aussi une nouvelle facçon de transmettre son savoir à d'autres personnes. Nous avons rendu facile la création de site communnautaire pour donner les moyens de partagé vos biens avec les autres personnes qui ont les mêmes centres d'interêt que vous.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons"></i></h2>
            <h5 class="center" id="secondTitle" contenteditable="true">Communauté dynamique</h5>

            <p class="light" id="secondTitleDescription" contenteditable="true">Vivez au rythme de votre communauté ! Cluster, vous donne tous les outils en main pour créer votre propre univers numerique en quelques minutes. Votre êtres le seul maître à bord. Transmettez votre passion le temps d'une location de votre bien. Vous l'aurez compris, votre communauté sur la vague de vos envies... Partagez et transmettez vos envies.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons"></i></h2>
            <h5 class="center" id="thirdTitle" contenteditable="true">L' Humain avant tout</h5>

            <p class="light" id="thirdTitleDescription" contenteditable="true">Grâce aux services de Cluster, vous avez le pouvoir de redonner au mot <b>partage</b> tout son sens. Vous pouvez humaniser vos échanges</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l5 s12">
          <h5 class="white-text">Concept Cluster</h5>
          <p class="grey-text text-lighten-4">Nous avons souhaité, dans cette plate-forme “Cluster” proposer un espace simple aux particuliers et aux professionnels pour la mise en location de biens. L’utilisateur peut créer en quelque minutes un espace de location en ligne. Chaque internaute, peut s’en servir sans contrainte.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Outils en location</h5>
          <ul>
            <li><a class="white-text" href="#!">Tondeuse à gazon</a></li>
            <li><a class="white-text" href="#!">Cisaille</a></li>
            <li><a class="white-text" href="#!">Eclairage solaire</a></li>
            <li><a class="white-text" href="#!">Perceuses visseuses sans fil</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Avis des utilisateurs</h5>
          <ul>
            <li><a class="white-text" href="#!">Jean-Noel</a></li>
            <li><a class="white-text" href="#!">Victoria</a></li>
            <li><a class="white-text" href="#!">Christina</a></li>
            <li><a class="white-text" href="#!">Kimberly</a></li>
          </ul>
        </div>
        <div class="horizontal" style="bottom: 45px; right: 24px;">
          <a class="btn-floating btn-large waves-effect waves-light red sendText"><i class="material-icons">input</i></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Template Starter designé par <a class="orange-text text-lighten-3" href="http://materializecss.com">Cluster</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="ckeditor/ckeditor.js"></script>
  <script type="text/javascript" src="ckeditor/adapters/jquery.js"></script>
  <script type="text/javascript" src="materialize-js/bin/materialize.min.js"></script>
  <script type="text/javascript" src="nouislider-js/nouislider.js"></script>
  <script type="text/javascript" src="js/production.js"></script>

  </body>
</html>
